.projectsTitle {
    text-decoration: underline #61018e;
    font-size: 34px;
    padding: 25px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.projectCard {
    border: 1px solid #61018e;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
    margin: 25px;
    padding: 1.25rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectCard a,
.projectCard a:hover {
    color: inherit;
    text-decoration: inherit;
}

.projectCard:hover {
    transform: scale(1.05);
}


.projectImg {
    width: 300px;
    border-radius: 10px;
    max-height: 150px;
    object-fit: cover;

}

.projectText {
    justify-content: space-between;
    padding: 20px;
}

.projectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
}

.projectDescription {
    color: rgb(156 163 175);
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.projectTech {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 16px;
}

/* Tamaño de tablet */
@media (min-width: 577px) and (max-width: 992px) {

    .projects {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* Tamaño de móvil*/
@media (max-width: 576px) {
    .projects {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}