.proyectsSection {
    scroll-margin-top: 80px;
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.titleProyectsSection {
    display: flex;
    height: 29px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #331C52;
    text-align: center;
    font-family: Michroma;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.descriptionProyectsSection {
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #331C52;
    text-align: center;
    font-family: Michroma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.proyectsCardBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.proyectsCard {
    padding: 19px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 24px;
    background: #DCCFED;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    box-sizing: border-box;
}

.proyectsCard a {
    text-decoration: none;
    color: inherit;
}

.proyectsCard a:hover {
    text-decoration: none;
}

.proyectsCard:hover {
    transform: scale(1.05);
}

.projectImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
    background: lightgray -46.614px -39.208px / 111.788% 141.469% no-repeat;
    object-fit: cover;
}

.projectTitle {
    color: #331C52;
    text-align: center;
    font-family: Michroma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projectDescription {
    color: #331C52;
    text-align: justify;
    font-family: Michroma;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Tamaño de tablet */
@media (max-width: 1024px) {

    .proyectsSection {
        scroll-margin-top: 80px;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 60px;
        gap: 20px;
    }

    .titleProyectsSection {
        font-size: 28px;
        height: 0px;
    }

    .descriptionProyectsSection {
        font-size: 18px;
        height: auto;
    }

    .proyectsCardBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .proyectsCard {
        padding: 15px 12px;
        gap: 10px;
        border-radius: 20px;
    }

    .projectImage {
        height: 180px;
        border-radius: 20px;
    }

    .projectTitle {
        font-size: 22px;
    }

    .projectDescription {
        font-size: 13px;
    }
}

@media (max-width: 390px) {
    .proyectsCardBox {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 80%;
    }

    .proyectsSection {
        gap: 15px;
    }
}