.custom-navbar {
    background-color: #0f324a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.aboutButton {
    text-decoration: none;
    padding: 0 5px;
    color: white;
    display: inline-block;
}

.aboutButton:hover,
.aboutButton:active {
    transform: scale(1.10);
    color: blue;
}


.navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;

}



/*Tamaño móvil*/
@media (max-width: 576px) {

    .navbar-toggler {
        line-height: 1;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        display: flex;

    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
    }

    .iconsNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
    }

    .iconsNavbar ul {
        padding: 0px 0px
    }

    .hamburgerIcon {
        width: 50px;
    }

    .hamburgerIcon:hover,
    .arrowIconNavbar:hover,
    .iconLanguageNavbar:hover {
        transform: scale(1.10);
    }


    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        padding: 0px 0px;
    }

    .collapse:not(.show) {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .hamburgerIcon:hover {
        /*transformar el boton al estar extendido en otra imagen*/
    }

}

/* Tamaño de tablet (576px a 992px) */
@media (min-width: 577px) and (max-width: 992px) {

    .custom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconLanguageNavbar,
    .arrowIconNavbar,
    .hamburgerIcon {
        display: none
    }

    .navbar-expand-lg .navbar-collapse {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse.collapse {
        display: flex;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
    }



}

/* Tamaño ordenador*/
@media (min-width: 993px) {

    .custom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navigation {
        font-size: 20px;
    }

    .iconLanguageNavbar,
    .arrowIconNavbar,
    .hamburgerIcon {
        display: none
    }

    .navbar-expand-lg .navbar-collapse {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse.collapse {
        display: flex;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-header {
        padding: 10px 0;
        /* Reducir el padding para acercar los elementos */
    }

    .navbar-toggler {
        padding: 0;
        /* Reducir o eliminar el padding del botón del menú */
    }

    .aboutButton {
        padding: 5px;
        /* Reducir el padding de los botones de navegación */
    }


}