.custom-navbar {
    background: linear-gradient(90deg, #8121D0 0%, #42116A 100%);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.50);
    transition: top 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.navigation {
    display: flex;
    height: 80px;
    align-items: center;
    flex-shrink: 0;
    font-family: 'Lexend', Arial, sans-serif;
}

.textNavbar ul {
    text-decoration: none;
    padding: 0 5px;
    color: white;
    display: inline-block;
    color: #FFF;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutButton:hover,
.aboutButton:active {
    transform: scale(1.10);

}


.navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;

}

.contactNavbar {
    display: flex;
    width: 506px;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.contactNavbar ul {
    display: flex;
    display: inline;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}



/*Tamaño móvil*/
@media (max-width: 576px) {

    .navbar-toggler {
        line-height: 1;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        display: flex;

    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
    }

    .iconsNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
    }

    .iconsNavbar ul {
        padding: 0px 0px
    }

    .hamburgerIcon {
        width: 50px;
    }

    .hamburgerIcon:hover,
    .arrowIconNavbar:hover,
    .iconLanguageNavbar:hover {
        transform: scale(1.10);
    }


    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        padding: 0px 0px;
    }

    .collapse:not(.show) {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .hamburgerIcon:hover {
        /*transformar el boton al estar extendido en otra imagen*/
    }

}

/* Tamaño de tablet (576px a 992px) */
@media (min-width: 577px) and (max-width: 992px) {

    .custom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconLanguageNavbar,
    .arrowIconNavbar,
    .hamburgerIcon {
        display: none
    }

    .navbar-expand-lg .navbar-collapse {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse.collapse {
        display: flex;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
    }



}

/* Tamaño ordenador*/
@media (min-width: 993px) {

    .custom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navigation {
        font-size: 20px;
    }

    .navbar-header,
    .iconLanguageNavbar,
    .arrowIconNavbar,
    .hamburgerIcon {
        display: none
    }

    .navbar-expand-lg .navbar-collapse {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse.collapse {
        display: flex;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
    }


    .navbar-toggler {
        padding: 0;
        /* Reducir o eliminar el padding del botón del menú */
    }

    .aboutButton {
        padding: 5px;
        /* Reducir el padding de los botones de navegación */
    }


}