.custom-navbar {
    background: linear-gradient(90deg, #8121D0 0%, #42116A 100%);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.50);
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;

}

.navbar-container {
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;
}

.navbar-header,
.iconLanguageNavbar,
.arrowIconNavbar,
.hamburgerIcon {
    display: none
}

.navigation {
    display: flex;
    align-items: center;
    font-family: 'Lexend', Arial, sans-serif;
}

.textNavbar {
    display: flex;
    align-items: center;
    gap: 60px;
    flex: 1 0 0;
    align-self: stretch;
}

.textNavbar ul {
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    padding: 0 0px;
}

.aboutButton {
    color: #FFF;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutButton:hover,
.contact-navbar:hover,
.social-navbar svg:hover {
    transform: scale(1.10);
}

.contact-navbar {
    display: flex;
    width: 140px;
    height: 33px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #FFF;
}

.icon-contact-navbar {
    width: 27.5px;
    height: 20px;
    flex-shrink: 0;
    fill: #9013FE;
}

.contact-navbar ul {
    width: 62px;
    height: 34px;
    flex-shrink: 0;
    color: #9013FE;
    font-family: "Monomaniac One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-navbar,
.contact-navbar ul,
.contact-navbar:hover,
.contact-button-navbar:hover {
    text-decoration: none;
}

.social-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.social-navbar ul {
    display: flex;
    display: inline;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}





/* Tamaño móvil
@media (max-width: 576px) {

    .navbar-toggler {
        line-height: 1;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        display: flex;

    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
    }

    .iconsNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
    }

    .iconsNavbar ul {
        padding: 0px 0px
    }

    .hamburgerIcon {
        width: 50px;
    }

    .hamburgerIcon:hover,
    .arrowIconNavbar:hover,
    .iconLanguageNavbar:hover {
        transform: scale(1.10);
    }


    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        padding: 0px 0px;
    }

    .collapse:not(.show) {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .hamburgerIcon:hover {
    }

} */

/* Tamaño de tablet */
@media (max-width: 1024px) {
    .custom-navbar {
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.40);
        height: 70px;
        padding: 0 20px;
        justify-content: space-between;
    }

    .navbar-container {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .textNavbar {
        gap: 30px;
        flex: 1 0 auto;
    }

    .aboutButton {
        font-size: 16px;
    }

    .contact-navbar {
        width: 120px;
        height: 30px;
        padding: 6px 8px;
        gap: 6px;
    }

    .icon-contact-navbar {
        width: 24px;
        height: 18px;
    }

    .contact-navbar ul {
        font-size: 18px;
        width: auto;
    }

    .social-navbar {
        gap: 5px;
    }

}