.profileSection {
    background: #331C52;
    padding: 80px 0;
}

.profile {
    display: flex;
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 267px;
}

.greeting,
.jobTitle {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.myName,
.lastName {
    color: #8121D0;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profileAvatar {
    height: 390px;
}

/*Tamaño móvil*/
@media (max-width: 576px) {

    .profileAvatar {
        margin-top: 130px;
    }

    .jobType {
        font-size: 45px;
    }

    .jobTitle {
        font-size: 45px;
    }
}

/* Tamaño de tablet (576px a 992px)  */
@media (min-width: 577px) and (max-width: 992px) {

    .profileAvatar {
        margin-top: 250px;
    }

    .jobType {
        font-size: 65px;
    }

    .jobTitle {
        font-size: 65px;
    }


    .jobTitle {
        margin-bottom: 90px;
    }
}