.profileArticle {
    background: #331C52;
    margin-top: 80px;
    display: flex;
    height: 450px;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.profile {
    display: flex;
    height: 490px;
    justify-content: center;
    align-items: flex-start;
    gap: 267px;
}

.textJob {
    align-self: stretch;
}

.greeting {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.myName {
    color: #8121D0;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lastName {
    color: #8121D0;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profileAvatar {
    width: 390px;
    height: 390px;
    margin-top: 40px;
}


.jobTitle {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

/*Tamaño móvil*/
@media (max-width: 576px) {

    .profileAvatar {
        margin-top: 130px;
    }

    .jobType {
        font-size: 45px;
    }

    .jobTitle {
        font-size: 45px;
    }
}

/* Tamaño de tablet (576px a 992px)  */
@media (min-width: 577px) and (max-width: 992px) {

    .profileAvatar {
        margin-top: 250px;
    }

    .jobType {
        font-size: 65px;
    }

    .jobTitle {
        font-size: 65px;
    }


    .jobTitle {
        margin-bottom: 90px;
    }
}