.profileSection {
    background: #331C52;
    padding-bottom: 80px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.profileRow {
    display: flex;
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.profileCol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.profile-section__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.greeting,
.jobTitle,
.myName {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0px 15px;
}

.greeting {
    font-size: 2rem;
}

.myName {
    color: #8121D0;
    font-size: 3rem;
    max-width: 90%;
}

.greeting,
.jobTitle {
    font-size: 1.5rem;
    max-width: 90%;
}

.contact-profile,
.contact-profile ul:hover {
    text-decoration: none;
}

.contact-profile:hover {
    transform: scale(1.10);
}

.contact-profile {
    display: flex;
    width: 250px;
    height: 50px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #FFF;
    margin-top: 30px;
}

.contact-profile ul {
    color: #9013FE;
    text-align: center;
    font-family: Monda;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0px;
}

.contact-profile svg {
    width: 32px;
    height: 26px;
    flex-shrink: 0;
    fill: #9013FE;
}

.profileAvatar {
    width: 390px;
    height: 390px;
    border-radius: 32px;
    background: #D9D9D9;
}


/* Tamaño de tablet */
@media (max-width: 1024px) {

    .profileSection {
        padding-top: 120px;
        padding-bottom: 60px;
        /* Reducimos el padding inferior */
        gap: 40px;
    }

    .profileRow {
        max-width: 700px;
        gap: 5px;
    }

    .greeting {
        font-size: 1.5rem;
        line-height: 1.1;
    }

    .myName {
        font-size: 2.5rem;
        line-height: 1.1;
    }

    .jobTitle {
        font-size: 1.5rem;
        line-height: 1.1;
    }

    .contact-profile {
        width: 200px;
        height: 45px;
        gap: 8px;
        margin-top: 20px;
    }

    .contact-profile ul {
        font-size: 28px;
    }

    .contact-profile svg {
        width: 28px;
        height: 24px;
    }

    .profileAvatar {
        width: 320px;
        height: 320px;
    }

}

@media (max-width: 490px) {
    .profileSection {
        padding-top: 100px;
        padding-bottom: 50px;
        gap: 30px;
    }

    .profileRow {
        flex-direction: column-reverse;
        max-width: 299px;
        margin: 20px auto;
        gap: 40px;
    }

    .profileCol {
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }

    .profile-section__content {
        align-items: center;
        text-align: center;
    }

    .greeting,
    .jobTitle,
    .myName {
        font-size: 1.3rem;
    }

    .myName {
        font-size: 2rem;
    }

    .contact-profile {
        width: 200px;
        height: 40px;
    }

    .contact-profile ul {
        font-size: 24px;
    }

    .profileAvatar {
        width: 280px;
        height: 280px;
    }

}