.iconsConnectLeft {
    display: block;
    left: 10px;
    bottom: 0;
    position: fixed;
}

.iconsConnectLeft img {
    width: 30px;
}

.iconsConnectLeft il {
    display: list-item;
    list-style: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
}

.connectVerticalLine {
    height: 100px;
    width: 4px;
    margin-left: 55px;
    background-color: #61018e;
}

@media (max-width: 576px) {

    .iconsConnectLeft {
        display: none !important;
    }
}