.skills-section {
    display: flex;
    height: 700px;
    padding: 0px 100px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.skills-section__icons {
    display: flex;
    height: 628px;
    align-items: center;
    justify-content: center;
    gap: 85px;
    align-self: stretch;
}

.skill-card {
    display: flex;
    height: 700px;
    align-items: center;
    align-content: center;
    gap: 25px 40px;
    flex-wrap: wrap;

}

.icon-card {
    display: flex;
    width: 165px;
    height: 192px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #331C52;
}

.icon-card__imageReact {
    width: 67px;
    height: 60px;
    flex-shrink: 0;
}

.icon-card__image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}


.icon-card__text {
    display: flex;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Michroma;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.skills-section__content {
    display: flex;
    width: 469px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.skills-section__title {
    color: #331C52;
    font-family: Michroma;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.skills-section__description {
    color: #331C52;
    text-align: justify;
    font-family: Michroma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 358px;
}