/* .iconsRight img {
    width: 30px;
}

.iconsRight {
    display: block;
    right: 55px;
    bottom: 0;
    position: fixed;
}

.iconsRight il {
    display: list-item;
    list-style: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
}

.verticalLineRight {
    height: 100px;
    width: 4px;
    margin-left: 55px;
    background-color: #61018e;
}

/*boton lenguage
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #000;
   
    font-family: inherit;
    
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    width: 162px;
    padding: 5px 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content button {
    background-color: transparent;
    color: #000;
    /* Color del texto de las opciones 
    font-family: inherit;
    /* Hereda la fuente del padre 
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    display: flex;
    width: 162px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.verticalLineRight {
    /* Estilos para la línea vertical derecha si es necesario 
}

.flag-icon {
    width: 31px;
    height: 22px;
    fill: none;
}

/* Tamaño de móvil
@media (max-width: 576px) {

    .iconsRight {
        display: none !important;
    }
} */