 .contactSection {
     display: flex;
     height: 650px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-self: stretch;
     background: #331C52;

 }

 .content-wrapper {
     max-width: 1294px;
     margin: 0 auto;
 }

 .contactRow {
     display: flex;
     width: 1234px;
     padding: 30px;
     justify-content: space-between;
     align-items: flex-start;
     border-radius: 24px;
     background: #DCCFED;
 }

 .contactCol {
     display: flex;
     width: 567px;
     flex-direction: column;
     align-items: flex-start;
     flex-shrink: 0;
 }

 .contact-heading {
     color: #331C52;
     font-family: Michroma;
     font-size: 32px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin: 0px
 }

 .contact-description {
     color: #331C52;
     font-family: Michroma;
     font-size: 32px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     align-self: stretch;
 }

 .highlighted-text {
     color: #FF0199;
     font-family: Michroma;
     font-size: 32px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 form {
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 .formName,
 .formEmail,
 .formMessage {
     display: flex;
     padding: 10px 15px;
     align-items: center;
     gap: 10px;
     align-self: stretch;
     border-radius: 16px;
     background: rgba(255, 255, 255, 0.85);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
 }

 .formMessage {
     height: 243px;
     padding: 15px;
     align-items: flex-start;
 }

 .formName input,
 .formName input,
 .formEmail input,
 .formMessage textarea {
     color: #8F8F8F;
     font-family: Michroma;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     border: none;
     outline: none;
     background: transparent;
     width: 100%;
     height: 100%;
 }

 .buttonContact {
     display: flex;
     width: 257px;
     padding: 12px 15px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 16px;
     border: none;
     background: #9013FE;
     box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
     color: #FFF;
     font-family: "Monomaniac One";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 .buttonContact svg {
     width: 24px;
     height: 24px;
     fill: #FFF;
 }


 .buttonContact:hover {
     transform: scale(1.05);
 }

 /* Adaptaciones para pantallas de tabletas */
 @media (max-width: 1024px) {

     .contactSection {
         height: 575px;
     }

     .content-wrapper {
         max-width: 700px;
         margin: 0 auto;
     }

     .contactRow {
         width: 690px;
         padding: 30px;
     }

     .contactCol {
         width: 359px;
     }

     .contact-heading {
         font-size: 28px;
     }

     .contact-description {
         font-size: 28px;
     }

     .highlighted-text {
         font-size: 28px;
     }

     form {
         gap: 20px;
     }

     .formName,
     .formEmail,
     .formMessage {
         padding: 8px 12px;
     }

     .formMessage {
         height: 200px;
     }

     .formName input,
     .formEmail input,
     .formMessage textarea {
         font-size: 14px;
     }

     .buttonContact {
         width: 220px;
         padding: 10px 12px;
     }

     .buttonContact svg {
         width: 20px;
         height: 20px;
     }

 }


 /* Tamaño de móvil
 @media (max-width: 576px) {

     textarea,
     input:not([type="submit"]) {

         width: 250px;
     }

     .buttonContact {
         width: 200px;
     }

     .contactMe {
         margin-bottom: 40px;
     }

 }
     */