.lineSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.line {
    width: 1000px;
    stroke-width: 2px;
    padding: 40px;
    stroke: #331C52;
}

/* Tamaño de tablet*/
@media (max-width: 1024px) {
    .line {
        width: 580px;
        stroke-width: 2px;
    }
}

@media (max-width: 490px) {
    .line {
        max-width: 299px;
        margin: 20px auto;
    }
}