.footer {
    display: flex;
    height: 80px;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #291C3A;
    vertical-align: middle;
}

.textFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 60px;
    color: white;
    margin-right: 20px;
}

/*boton lenguage*/
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropbtn {
    color: #000;
    font-family: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    width: 162px;
    padding: 5px 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    vertical-align: middle;
    display: flex;
    width: 162px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.iconbtn {
    width: 8px;
    height: 5px;
    flex-shrink: 0;
    fill: none;
    fill: #000;
}

.textbtn {
    color: #291C3A;
    font-family: Monda;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 100%;
    border-radius: 8px;
    /* vertical-align: middle; */

}

.dropdown-content button {

    color: #000;

    font-family: inherit;

    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    display: flex;
    width: 162px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    vertical-align: middle;
}

/* .dropdown-content button:hover {
    background-color: #f1f1f1;
} */

.dropdown:hover .dropdown-content {
    display: block;
}

.flag-icon {
    width: 31px;
    height: 22px;
    fill: none;
}

/* Tama침o de m칩vil*/
@media (max-width: 576px) {
    .connect {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .connect ul {
        margin-top: 0px;
        padding: 12px;
    }

    .connect img {
        width: 30px;
    }



}


/* Tama침o de ordenador (a partir de 992px) */
@media (min-width: 993px) {
    .connect {
        display: none;
    }

    .textFooter {
        margin-top: 80px;
    }
}

/* Tama침o de tablet */
@media (min-width: 577px) and (max-width: 992px) {
    .connect {
        display: none;
    }

    .textFooter {
        margin-top: 80px;
    }
}