.footer {
    display: flex;
    height: 80px;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background: #291C3A;
    vertical-align: middle;
}

.textFooter {
    color: #FFF;
    text-align: center;
    font-family: Monda;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*boton lenguage*/
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropbtn {
    color: #000;
    font-family: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    vertical-align: middle;
}

.flag-with-label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.iconbtn {
    width: 8px;
    height: 5px;
    flex-shrink: 0;
    fill: none;
    fill: #000;
}

.textbtn {
    color: #291C3A;
    font-family: Monda;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 100%;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.dropdown-content button {
    color: #000;
    font-family: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    display: flex;
    width: 162px;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    border-radius: 8px;

}


.dropdown:hover .dropdown-content {
    display: block;
}

.flag-icon {
    width: 31px;
    height: 22px;
    fill: none;
}

/* Tamaño de móvil
@media (max-width: 576px) {
    .connect {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .connect ul {
        margin-top: 0px;
        padding: 12px;
    }

    .connect img {
        width: 30px;
    }



}
    */

/* Tamaño de tablet */
@media (max-width: 1024px) {
    .footer {
        height: 60px;
        padding: 10px 40px;
        gap: 20px;
    }

    .textFooter {
        font-size: 12px;
    }

    .dropbtn {
        width: 140px;
        font-size: 14px;
    }

    .dropdown-content button {
        padding: 7px 10px;
        width: 140px;
        font-size: 14px;
    }

    .flag-icon {
        width: 25px;
        height: 18px;
    }
}