.summarySection {
    background: #291C3A;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.50);
}

.content-wrapper {
    max-width: 1294px;
    margin: 0 auto;
}

.professionalSummaryRow {
    display: flex;
    height: 80px;
    padding: 26px 0px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
    align-self: stretch;
}

.summaryExperience,
.summaryProjects,
.summarySkills {
    display: flex;
    align-items: center;
    gap: 9px;
    flex: 1 0 0;
    align-self: stretch;
}

.yearExperience,
.numberProjects {
    color: #FFF;
    text-align: center;
    font-family: "Poller One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textExperience,
.textProjects {
    color: #CCB0F0;
    font-family: Notable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    max-width: 100px;
    text-align: left;
}

.summarySkills {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
    width: 506px;
    align-self: stretch;
}

.iconSummarySkills {
    width: 36px;
    height: 36px;
}

/* Tamaño de tablet */
@media (max-width: 1024px) {

    .summarySection {
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.40);
    }

    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 20px;
    }

    .professionalSummaryRow {
        max-width: 700px;
        height: 40px;
        gap: 20px;
    }

    .summaryExperience,
    .summaryProjects,
    .summarySkills {
        gap: 15px;
        align-items: center;
    }


    .yearExperience,
    .numberProjects {
        font-size: 48px;
    }

    .textExperience,
    .textProjects {
        font-size: 14px;
    }

    .summarySkills {
        gap: 20px;
    }

    .iconSummarySkills {
        width: 23px;
        height: 23px;
    }
}

@media (max-width: 490px) {

    .content-wrapper {
        max-width: 100%;
    }

    .professionalSummaryRow {
        max-width: 299px;
        height: auto;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .summaryExperience,
    .summaryProjects {
        width: calc(50% - 5px);
    }

    .yearExperience,
    .numberProjects {
        font-size: 36px;
        margin: 12px 0;
    }

    .textExperience,
    .textProjects {
        font-size: 12px;
    }

    .iconSummarySkills {
        width: 20px;
        height: 20px;
    }
}