.professionalSummaryRow {
    display: flex;
    height: 80px;
    padding: 26px 100px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
    align-self: stretch;
    background: #291C3A;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.50);
}

.summaryExperience {
    display: flex;
    align-items: center;
    gap: 9px;
    flex: 1 0 0;
    align-self: stretch;
}

.yearExperience {
    color: #FFF;
    text-align: center;
    font-family: "Poller One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textExperience {
    color: #CCB0F0;
    font-family: Notable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    max-width: 100px;
    text-align: left;
}

.summaryProjects {
    display: flex;
    align-items: center;
    gap: 9px;
    flex: 1 0 0;
    align-self: stretch;
}

.numberProjects {
    color: #FFF;
    text-align: center;
    font-family: "Poller One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textProjects {
    color: #CCB0F0;
    font-family: Notable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    max-width: 100px;
    text-align: left;
}

.summarySkills {
    display: flex;
    width: 506px;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
    align-self: stretch;
}

.iconSummarySkills {
    width: 36px;
    height: 36px;
}