.app {
    padding-top: 40px;
    margin: 0px 95px;
}

/* Tamaño de tablet */
@media (min-width: 577px) and (max-width: 992px) {}

/* Tamaño de móvil*/
@media (max-width: 576px) {
    .app {
        margin: 0px 25px;
    }
}