/* :root {
  
  font-family: Michroma;
  background-color: #0f324a;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #7877c64d, #fff0);
} */

:root {
  font-family: 'Michroma', Arial, sans-serif;
  height: 2604px;



}

body,
html {
  margin: 0;
}