/* :root {
  
  font-family: Michroma;
  background-color: #0f324a;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #7877c64d, #fff0);
} */

:root {
  font-family: 'Michroma', Arial, sans-serif;
  height: 2604px;
  background: linear-gradient(180deg, #E1EBED 49.5%, #E4FBFF 92%);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

}